<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->

<title>To Do List</title>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/completed">Completed</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/incomplete">Incomplete</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/login">Log Out</a>
			</li>
		</ul>
	</nav>
	<div class="jumbotron text-center">
	<!--  <img src = "../img/topten.jpg">-->
		
		<h1>Completed List</h1>
		<h2 th:text="${welcome}"></h2>
		<br />

	</div>


	<div class="container">

		<p>THE COMPLETED TASKS ARE....
		<table class="table table-striped">
			<thead>
				<tr>
					<th>NAME</th>
					<th>DESCRIPTION</th>
					<th>DATE</th>
					<th>Completed or not?</th>
					<th>Person Completing</th>
					<th>Priority</th>
				</tr>
			</thead>
			<tbody>
			
				<tr th:each="todo: ${toDo}">
					<td th:text="${todo.name}"></td>
					<td th:text="${todo.description}"></td>
					<td th:text="${todo.completionDate}"></td>
					<td th:text="${todo.completedOrNot}"></td>
					<td th:text="${todo.userName}"></td>
					<td th:text="${todo.priority}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>

